body {
  color: #2f80ed;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  
}

a {
  color: #2f80ed; ;
  padding: 0;
  margin: 0;
}

img {
  margin: 0;
  padding: 0;
}

 .text-box {
  align-self: center;
  justify-content: center;
  display: flex;
  height: 140px;
  width: 420px;
  margin: 0 430px 280px 430px;
}

.image-box {
  align-self: center;
  justify-content: center;
  display: flex;
  padding: 0;
  margin: 110px 380px 10px 380px;
}

.a-style {
  font-size: 120px;
  text-decoration: none;
  font-weight: normal;
}

.a-style:hover {
  font-size: 120px;
  text-decoration: none;
  font-weight: normal;
  }

.text-a {
  display: flex;
  text-align: center;
  font-size: 17px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.text-p {
  display: flex;
  text-align: center;
  font-size: 17px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.bottom-text-box {
  align-self: center;
  justify-content: center;
  display: flex;
  padding: 0;
  margin: 0 430px 30px 430px;
}

.float-text-box {
  align-self: center;
  justify-content: center;
  display: flex;
  min-height: 0;
  max-height: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
}

.float-text {
  text-align: center;
  font-size: 17px;
  font-weight: normal;
  width: 420px;
}

.text-box:hover + .float-text-box  {
  opacity: 1;
  min-height: 10px;
  max-height:1000px ;
  margin-bottom: 84px;
  justify-content: center;
  display: flex;
  box-sizing: content-box;
}

.text-box:hover {
  margin-bottom: 22px;
}
